# -------------------------------------------
# Configuration file for freki converter.
# -------------------------------------------
[DEFAULT]
# Use this to insert additional required paths
# dynamically. Separate with ":"
pythonpath=

# What is the base url for this app from the server?
base_url=/freki-convert

# Location of the "static" files?
static_url=%(base_url)s/static

# Maximum number of pages
max_pages=4

# Change the format name
format_name=Freki