.doc .key {
    color: #d40b80;
}

.doc .val {
    color: #785fff;
}

.line .key {
    color: #00a31b;
}

.line .val {
    color: #27d0cb;
}

#fileContainer {
    height:40px;
}

#fileContainer, #statusContainer, #output-interface {
    border: 2px solid black;
    padding:10px;
    position:fixed;
    width:95%;
    background-color:white;
}

#output-interface {
    height:20px;
}

#statusContainer {
    border-top: 0px;
    top:72px;
    z-index:-1;
    text-align: center;
}

#output {
    position:absolute;
    top:100px;
}

#output-raw {
    display: none;
}

#output-pre {
    padding:10px;
    z-index: -2;
    position:absolute;
    top: 50px;
}

.warning {
    color:red;
}