<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'scripts.html' %}
    <title>Freki Converter</title>
</head>
<body>

{# File Browser/Uploader #}
<div>
    <form id="fileForm" enctype="multipart/form-data">
        <input id="file" type="file" onchange="validateFile(this)"/><BR/>
        <input type="button" value="Convert to Freki" onclick="doConvert()"/>
    </form>
</div>

{# Status Field #}
<div>
    <span id="status-text"></span>
    <img id="loading" src="{{ static_url }}/images/loading.gif" style="display:none"/>
</div>

{# Output Field #}
<div id="output" style="font-family: Courier;font-size: smaller; display:none">
    <input type="button" value="Toggle Markup" onclick="togglePreambles()"/>

    <pre id="output-pre">

    </pre>

</div>

</body>
</html>