<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'scripts.html' %}
    <title>{{ format_name }} Converter</title>
</head>
<body>

{# File Browser/Uploader #}
<div id="fileContainer">
    <form id="fileForm" enctype="multipart/form-data">
        <input id="file" type="file" onchange="validateFile(this)"/>
        Extraction Engine: <input type="radio" value="pdfminer" name="engine"> PDFMiner
        <input type="radio" value="tet" name="engine" checked="true"> PDFLib TET <BR/>
        <input type="button" value="Convert to {{ format_name }}" onclick="doConvert()"/>
    </form>
</div>

{# Status Field #}
<div id="statusContainer">
    <span id="status-text"></span>
    <div id="loading" style="display:none;">
        <BR/>
        <img src="{{ static_url }}/images/loading.gif"/>
    </div>
</div>

{# Output Field #}
<div id="output" style="font-family: Courier;font-size: smaller; display:none">
    <div id="output-interface">
        <input type="button" value="Toggle Markup" onclick="togglePreambles()"/>
        <input type="button" value="Toggle pdftotext" onclick="togglePDFtoText()"/>
        <a href="" id="downloadbutton" value="Download File"/>Download File</a>
    </div>

    <pre id="output-raw">

    </pre>

    <pre id="output-pre">

    </pre>

</div>

</body>
</html>